* {
	color: #F2F2F2;
	font-weight: 600;
	font-size: 14px;
    font-family: 'Nunito, FiraCode Nerd Font Propo';
}

window#waybar {
	background-color: rgba(20, 20, 20, 0);
	/* border-radius: 0px; */
}

#custom-logo {
	background-image: url('/home/lighttigerxiv/Pictures/icons/logo.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#clock,
#tray,
#battery,
#network,
#pulseaudio,
#bluetooth,
#language,
#window,
#custom-waymedia,
#custom-waymedia-buttons,
#custom-keyboard-layout,
#custom-resources
{
	background-color: rgba(20,20,20, 0.9);
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 99px;
}

#workspaces {
	border-radius: 99px;
	padding-left: 4px;
	padding-right: 4px;
}

#tray {
	margin-left: 8px;
}

#battery {
	margin-right: 8px;
}

#workspaces button {
	margin: 4px 0 4px 0;
	padding-right: 8px;
	padding-left: 8px;
	min-width: 20px;
	border-radius: 99px;
	min-width: 20px;
}

#workspaces button.active,
#workspaces button:hover {
	background-color: #1F1F1F;
}

window#waybar.empty #window {
	background-color: transparent;
}
