* {
	color: #F2F2F2;
	font-weight: 600;
	font-size: 14;
}

window#waybar {
	background-color: rgba(20, 20, 20, 1);
	/* border-bottom: 1px solid #383838; */
	border-radius: 0px;
}

#custom-logo {
	background-image: url('/home/lighttigerxiv/Pictures/icons/logo.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#clock,
#tray,
#battery,
#network,
#pulseaudio,
#bluetooth,
#language {
	padding-top: 4px;
	padding-bottom: 4px;
	/* background-color: #1f1f1f; */
	margin: 4px 0 4px 0;
	/* border-radius: 8px; */
}

#tray {
	margin-left: 16px;
	/* font-size: 32px; */
}

#battery {
	margin-right: 16px;
}
