* {
	color: #F2F2F2;
	font-weight: 600;
	font-size: 14;
}

window#waybar {
	background-color: rgba(20,20,20,0.99);
	border-top: 1px solid #383838;
	border-radius: 16px;
}

#custom-logo {
	background-image: url('/home/lighttigerxiv/Pictures/icons/logo.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#clock,
#tray,
#battery,
#network,
#pulseaudio,
#bluetooth,
#language {
	padding: 8px;
	background-color: #1f1f1f;
	margin: 8px 0 8px 0;
	border-radius: 8px;
}

#custom-logo {
	margin-left: 10px;
	font-size: 32px;
}

#tray {
	margin-right: 8px;
}
