* {
	color: #F2F2F2;
	font-weight: 600;
	font-size: 14px;
}

window#waybar {
	background-color: rgba(20, 20, 20, 1);
	border-radius: 6px;
}

#custom-logo {
	background-image: url('/home/lighttigerxiv/Pictures/icons/logo.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#clock,
#tray,
#battery,
#network,
#pulseaudio,
#bluetooth,
#language,
#window {
	background-color: #1F1F1F;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	margin: 4px 0 4px 0;
	border-radius: 6px;
}

#window {
	margin-left: 8px;
}

#clock {
	margin-right: 8px;
}

#workspaces button {
	margin: 4px 0 4px 0;
	padding-right: 8px;
	padding-left: 8px;
}

#workspaces button.active {
	background-color: #1F1F1F;
}

window#waybar.empty #window {
	background-color: transparent;
}
