* {
	color: #F2F2F2;
	font-weight: 600;
	font-size: 14;
}

window#waybar {
	background-color: #141414;
	border-top: 1px solid #383838;
	border-radius: 999px;
}

#custom-logo {
	background-image: url('/home/lighttigerxiv/Pictures/icons/logo.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

#clock,
#tray,
#battery,
#network,
#pulseaudio,
#language {
	padding-top: 16px;
	padding-bottom: 16px;
}

#custom-logo {
	margin-left: 16px;
	font-size: 32px;
}

#tray {
	margin-right: 16px;
}
