*{
    color: #FFEEE2;
    font-weight: 600;
    font-size: 14;
}

window#waybar{
    background-color: transparent;
}

label.module, #tray{
    margin-top: 8px;
    padding: 4px 0 4px 0px;
}

#tray{
    margin-right: 8px;
}

#clock{
    margin-left: 8px;
}

#clock, #tray, #battery, #network, #pulseaudio, #language{
    background-color: #1B0B00;
    padding: 8px 12px 8px 12px;
    border-radius: 99px;
}