*{
    color: #F2F2F2;
    font-weight: 600;
    font-size: 14;
}

window#waybar{
    background-color: transparent;
}

label.module, #tray{
    margin-top: 16px;
	border-width: 3px;
	border-style: solid;
	border-color: #383838;
}

#tray{
    margin-right: 16px;
}

#clock{
    margin-left: 16px;
}

#clock, #tray, #battery, #network, #pulseaudio, #language{
    background-color: #141414;
    padding: 8px 12px 8px 12px;
    border-radius: 99px;
}
